#footer {
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        background-color: #434343;
        color: #fff;
        padding: 2rem;
        margin-top: 12rem;
    }
}
